@charset "UTF-8";

/* # = id
   . = class
   : = pseudo-class
   :: = pseudo-element
   > = children


*/

body {
    font: normal normal 16px 'Arial', 'Verdana', sans-serif;
}

a {
    color: crimson;
}
/* :visited é um link que ja foi visitado */
a:visited {
    color: chocolate;
}
/* :hover é para criar uma animação ao passar com o mouse em cima  */
a:hover {
    color: black;
    text-decoration: underline;
}
/* :active é um link que ja foi clicado */
a:active {
    background-color: rgba(82, 80, 80, 0.767);
}


.especial::after {
 content:'(link)';
 color: grey;
}